body.filter {
  .C_multiSelectOptionList {
    background-color: #f5f5f5;

    .A_multiSelectOptionListItem {
      &:hover {
        background-color: cornflowerblue;
        color: white;
      }
    }
  }
}
.S_Content {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.O_contentCard {
  width: 320px;
  min-height: 350px;
  background-color: #f5f5f5;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;

  &.hidden {
    display: none;
  }

  .A_contentCardCover {
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
}
.A_contentCardTitle {
  font-size: 21px;
  line-height: 28px;
  padding: 0 10px;
}
.A_contentCardDescription {
  font-size: 16px;
  line-height: 22px;
  padding: 0 10px;
}
.C_contentCardTags {
  padding: 0 10px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  .A_contentCardTag {
    background-color: cornflowerblue;
    color: white;
    font-size: 12px;
    line-height: 12px;
    padding: 6px 8px;
    border-radius: 12px;
  }
}
